body {
  background-color: rgb(8, 5, 19) !important;
}
select option {
  background: rgba(0, 0, 0, 0.3) !important;
  color: #000000;
}
.chakra-popover__popper {
  background-color: rgb(8, 5, 19) !important;
}
.chakra-popover__popper section div:hover, .css-umu8zi {
  color: black !important;
}
.select-option{
  background-color: rgb(8, 5, 19) !important;
}